h3, h4, h5 {
    color: #FFF;
    text-align: center;
}

/*body {
    background-image: url("../img/Untitled-1-01.png");
    background-repeat: no-repeat;
    background-size: 800px;
    margin-top: 150px;
}*/

.tablebox {
    width:900px;
    margin: auto;
    background-color: #242424;
    background-size: 100%;
    background-repeat: no-repeat;
}

.mixer {
    position: absolute;
    margin-top: 185px;
    margin-left: 380px;
    display: block;
/*    background-color: yellow;*/
    width: 100px;
}


.leftequalizer {
    float: left;
    display: inline-block;
    width: 50%;
/*    background-color: orange;*/
}

    .leftequalizer img {
        display: block;
        margin-top:20px;
        width: 100%;
    }

.rightequalizer {
    display: inline-block;
    width: 50%;
/*    background-color: orange;*/
}

    .rightequalizer img {
        display: block;
        margin-left: 15px;
        margin-top:20px;
        width: 100%;
    }

.crossfader {
    position: relative;
    margin-left: 405px;
    width: 8%;
    background-color: purple;
    transform: rotate(90deg);
}

    .crossfader img.slider {
        width: 100%;
    }

        .crossfader img.switch {
            position: absolute;
            width: 100%;
        }

.tableone {
    padding: 5px;
    float: left;
    display: inline-block; 
    width: 45%;
/*    background-color: aqua;*/
}

    .tableone img {
        display: inline-block;
        width: 80%;
    }
        
    .tableone h3 {
        text-align: left;
    }
    
    .tableone h4 {
        text-align: left;
    }
    
    .tableone button.upload {
        float: right;
    }

    .tableone button.playpause {
        float: right;
    }

.bpmleft {
    position: relative;
    margin-top: 60px;
    float: left;
    display: inline-block; 
    width: 15%;
}
    .bpmleft img {
        width:100%;
    }
        .bpmleft img.switch {
            position: absolute;
            top: 80px;
            display: block;
            transform: rotate(90deg);
        }

.tabletwo {
    margin-left: 70px;
    padding: 5px;
    display: inline-block;
    width: 45%;
/*    background-color:antiquewhite; */

}

    .tabletwo img {
        display: inline-block;
        width: 80%;
    }

    .tabletwo h3 {
        text-align: right;
    }
    
    .tabletwo h4 {
        text-align: right;
    }
    
    .tabletwo button.upload {
        float: left;
    }

    .tabletwo button.playpause {
    }

.bpmright {
    position: relative;
    margin-top: 60px;
    float: right;
    display: inline-block; 
    width: 15%;

}
    .bpmright img {
        width:100%;
    }
        .bpmright img.switch {
            position: absolute;
            top: 80px;
            display: block;
            transform: rotate(90deg);
        }

.beatpad span {

}

.beatpad {
    width: 100%;
}

/*    .beatpadleft {
        width: 50%;
        float: right;
        display: inline-block;
        background-color: aquamarine;
    }*/
    
        .beatpadleft button {
            margin-bottom: 50px;
            margin-left: 50px;
            background: #fa3f74;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,bcd7f4), color-stop(100%,#85c0d8));
            background: -webkit-linear-gradient(top, #bcd7f4 0%,#85c0d8 100%);
            height: 150px;
            width: 150px;
            color:#ffffff;
            border:none;
            border-radius: 10%;
}

/*    .beatpadright {
        
        width: 50%;
        display: inline-block;
    }*/

        .beatpadright button {
            margin-bottom: 50px;
            margin-left: 50px;
            background: #fa3f74;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,bcd7f4), color-stop(100%,#85c0d8));
            background: -webkit-linear-gradient(top, #bcd7f4 0%,#85c0d8 100%);
            height: 150px;
            width: 150px;
            color:#ffffff;
            border:none;
            border-radius: 10%;
        }



