/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h3, h4, h5 {
    color: #FFF;
    text-align: center;
}

/*body {
    background-image: url("../img/Untitled-1-01.png");
    background-repeat: no-repeat;
    background-size: 800px;
    margin-top: 150px;
}*/

.tablebox {
    width:900px;
    margin: auto;
    background-color: #242424;
    background-size: 100%;
    background-repeat: no-repeat;
}

.mixer {
    position: absolute;
    margin-top: 185px;
    margin-left: 380px;
    display: block;
/*    background-color: yellow;*/
    width: 100px;
}


.leftequalizer {
    float: left;
    display: inline-block;
    width: 50%;
/*    background-color: orange;*/
}

    .leftequalizer img {
        display: block;
        margin-top:20px;
        width: 100%;
    }

.rightequalizer {
    display: inline-block;
    width: 50%;
/*    background-color: orange;*/
}

    .rightequalizer img {
        display: block;
        margin-left: 15px;
        margin-top:20px;
        width: 100%;
    }

.crossfader {
    position: relative;
    margin-left: 405px;
    width: 8%;
    background-color: purple;
    transform: rotate(90deg);
}

    .crossfader img.slider {
        width: 100%;
    }

        .crossfader img.switch {
            position: absolute;
            width: 100%;
        }

.tableone {
    padding: 5px;
    float: left;
    display: inline-block; 
    width: 45%;
/*    background-color: aqua;*/
}

    .tableone img {
        display: inline-block;
        width: 80%;
    }
        
    .tableone h3 {
        text-align: left;
    }
    
    .tableone h4 {
        text-align: left;
    }
    
    .tableone button.upload {
        float: right;
    }

    .tableone button.playpause {
        float: right;
    }

.bpmleft {
    position: relative;
    margin-top: 60px;
    float: left;
    display: inline-block; 
    width: 15%;
}
    .bpmleft img {
        width:100%;
    }
        .bpmleft img.switch {
            position: absolute;
            top: 80px;
            display: block;
            transform: rotate(90deg);
        }

.tabletwo {
    margin-left: 70px;
    padding: 5px;
    display: inline-block;
    width: 45%;
/*    background-color:antiquewhite; */

}

    .tabletwo img {
        display: inline-block;
        width: 80%;
    }

    .tabletwo h3 {
        text-align: right;
    }
    
    .tabletwo h4 {
        text-align: right;
    }
    
    .tabletwo button.upload {
        float: left;
    }

    .tabletwo button.playpause {
    }

.bpmright {
    position: relative;
    margin-top: 60px;
    float: right;
    display: inline-block; 
    width: 15%;

}
    .bpmright img {
        width:100%;
    }
        .bpmright img.switch {
            position: absolute;
            top: 80px;
            display: block;
            transform: rotate(90deg);
        }

.beatpad {
    width: 100%;
    background-color: aquamarine;
}
    .beatpadleft {
        width: 50%;
        float: left;
        display: inline-block;
        background-color: beige;
    }
    .beatpadright {
        width: 50%;
        display: inline-block;
        background-color: beige;
    }
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

 ==========================================================================
   Print styles
   ========================================================================== 

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}