body{
    background: #000;
}

h3, h4, h5 {
    color: #FFF;
    text-align: center;
}

.tablebox {
    width:900px;
    margin: auto;
    background: url(../img/bg.png);
    border-radius: 20px;
}

.mixer {
    position: absolute;
    margin-top: 100px;
    margin-left: 380px;
    display: block;
/*    background-color: yellow;*/
    width: 100px;
}


.leftequalizer {
    float: left;
    display: inline-block;
    width: 50%;
/*    background-color: orange;*/
}

    .leftequalizer img {
        display: block;
        margin-top:20px;
        width: 100%;
    }

.rightequalizer {
    display: inline-block;
    width: 50%;
/*    background-color: orange;*/
}

    .rightequalizer img {
        display: block;
        margin-left: 15px;
        margin-top:20px;
        width: 100%;
    }

.crossfader {
    position: relative;
    margin-left: 325px;
    top:370px;
    width: 25%;

}

    .crossfader img.slider {
        width: 100%;
        position: absolute;
    }

        .crossfader img.switch {
            width: 30%;
            display: block;
            width: 25%;
            position: relative;
            left: 80px;
        }

.tableone {
    padding: 5px;
    float: left;
    display: inline-block; 
    width: 45%;
/*    background-color: aqua;*/
}

    .tableone img {
        display: inline-block;
        width: 80%;
    }
        
    .tableone h3 {
        text-align: left;
    }
    
    .tableone h4 {
        text-align: left;
    }
    
    .tableone button.upload {
        float: right;
    }

    .tableone #playpause {
        left: 230px;
        padding: 8px;
        color: white;
        border-width: 5px;
        border-radius: 10px;
        border-color: white;
        background-color: black;
        position: relative;
        top: 75px;
    }
    
.tableone button.plus {
        color: white;
        border-width: 5px;
        border-radius: 10px;
        border-color: white;
        background-color: black;
        position: relative;

}

.tableone button.minus {
        color: white;
        border-width: 5px;
        border-radius: 10px;
        border-color: white;
        background-color: black;
        position: relative;

}

#bpmleft {
    position: relative;
    margin-top: 60px;
    float: left;
    display: inline-block; 
    width: 15%;
}
    #bpmleft img {
        width:100%;
    }
        #bpmleft img.switch {
            position: absolute;
            top: 80px;
            display: block;
            transform: rotate(90deg);
        }

.mastervolleft {
    position: relative;
    margin-top:20px;
    margin-left: 50px;
    width:55%;
    background-color: purple;
}

.mastervolleft img {
    width:100%;
    position: absolute;
    float: left;
}
    .mastervolleft img.switch {
        display: block;
        width: 25%;
        position: relative;
        left: 80px;
    }

.tabletwo {
    margin-left: 70px;
    padding: 5px;
    display: inline-block;
    width: 45%;
}

    .tabletwo img {
        display: inline-block;
        width: 80%;
    }

    .tabletwo h3 {
        text-align: right;
    }
    
    .tabletwo h4 {
        text-align: right;
    }
    
    .tabletwo button.upload {
        float: left;
    }

    #playpause {
        padding: 8px;
        color: white;
        border-width: 5px;
        border-radius: 10px;
        border-color: white;
        background-color: black;
        position: relative;
        top: 75px;
    }

.tabletwo button.minus {
    color: white;
        border-width: 5px;
        border-radius: 10px;
        border-color: white;
        background-color: black;
        position: relative;
        float: right;
}

.tabletwo button.plus {
    color: white;
        border-width: 5px;
        border-radius: 10px;
        border-color: white;
        background-color: black;
        position: relative;
        float: right;
        margin-right: 5px;
    }

#bpmright {
    position: relative;
    margin-top: 60px;
    float: right;
    display: inline-block; 
    width: 15%;

}
    #bpmright img {
        width:100%;
    }
        #bpmright img.switch {
            position: absolute;
            top: 80px;
            display: block;
            transform: rotate(90deg);
        }

.mastervolright {
    left: 130px;
    width:55%;
    position: relative;
    margin-top: 20px;
}

.mastervolright img {
    width:100%;
    position: absolute;
    float: right;
    
}

.mastervolright img.switch {
    display: block;
    width: 25%;
    position: relative;
    right: 100px;
}

.beatpad span {
    
}

.beatpad {
    margin-top: 70px;
    width: 100%;
}

    .beatpadleft {
        width: 50%;
        float: right;
        display: inline-block;
    }
    
        .beatpadleft button {
            margin-bottom: 50px;
            margin-left: 50px;
            background: #fa3f74;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,bcd7f4), color-stop(100%,#85c0d8));
            background: -webkit-linear-gradient(top, #bcd7f4 0%,#85c0d8 100%);
            height: 150px;
            width: 150px;
            color:#ffffff;
            border:none;
            border-radius: 10%;
}

    .beatpadright {
        
        width: 50%;
        display: inline-block;
    }

        .beatpadright button {
            margin-bottom: 50px;
            margin-left: 50px;
            background: #fa3f74;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,bcd7f4), color-stop(100%,#85c0d8));
            background: -webkit-linear-gradient(top, #bcd7f4 0%,#85c0d8 100%);
            height: 150px;
            width: 150px;
            color:#ffffff;
            border:none;
            border-radius: 10%;
        }

.pressed {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4096ee+10,3143b7+76 */
    background: #4096ee; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #4096ee 10%, #3143b7 76%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #4096ee 10%,#3143b7 76%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #4096ee 10%,#3143b7 76%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#3143b7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
